.benefit-preview {

    .container {
        gap: 20px;
        .img-container {
            width: 75px;
        }
        .info {
            gap: 10px;

            h1 {
                font-family: livvicBold, sans-serif;
                font-size: rem(18px);
                color: $clr2;
            }

            p {
                font-size: rem(15px);
                line-height: 25px;
                max-width: 40ch;
            }
        }
    }
}