.footer {
    background-color: $clr3;
    height: 430px;
    align-items: center;
    .container{
        height: 80%;
        flex-direction: column;
    
            .logo-and-nav {
                gap: 20px;
                h1 {
                    font-size: rem(38px);
                    line-height: 1;
                    margin-top: -10px;
                }
                .links-container {
                    gap: 50px;
                }
            }

            .adress {
                line-height: 1.5;
                color: rgba($color: #ffffff, $alpha: 0.4);
                text-align: center;
            }
        
        .social {
            p {
                color: rgba($color: #ffffff, $alpha: 0.4);
            }
            .icons-container {
                gap: 20px;
                justify-content: center;
                img {
                    width: 25px;
                    cursor: pointer;
                }
            }
        }
    }

    @include for-normal-layout {
        height: 200px;
        .container {
            flex-direction: row;
            
                flex-direction: row;
                gap: 100px;
                .logo-and-nav {
                    h1{
                        font-size: rem(38px);
                    }
                }
            
                .adress {
                    text-align: left;
                }

            .social{
                gap: 40px;
                .icons-container{
                    justify-content: flex-end;
                }
            }
        }
    }
}