.member-preview {
    margin-bottom: 1.5rem;
    gap: 30px;
    position: relative;
    .qoutes-img{
        position: absolute;
        width: 60px;
        top: -25px;
        z-index: 0;
    }
    p{
        text-align: center;
        line-height: 1.5;
        max-width: 35ch;
        z-index: 1;
    }

    .info-container {
        gap: 5px;
        margin-bottom: 1.2rem;
        h2 {
            font-size: rem(18px);
            font-family: livvicBold, sans-serif;
            color: $clr4;
        }
    }

  .img-container {
    width: 70px;
    img {
        border-radius: 50%;
        border: 2px solid $clr5;
    }
  }
}
