@font-face {
    font-family: livvic;
    src: url(../../../fonts/Livvic-Regular.ttf);
}
@font-face {
    font-family: livvicLight;
    src: url(../../../fonts/Livvic-Light.ttf);
}
@font-face {
    font-family: livvicBold;
    src: url(../../../fonts/Livvic-Bold.ttf);
}